<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>@ViewData["Title"] - Lancheria dos Sinos</title>
</head>
<body>
   <header>
       <h2>Cadastro de Pedidos</h2>
   </header>
   <div>
       <main role="main">
           @RenderBody()
       </main>
   </div>
   <footer>
       <p></p>
       <div>
           © 2021 - Lancheria dos Sinos
       </div>
   </footer>
</body>
</html>