@model ItemPedido

<form method="POST">
    <p>
        <label asp-for="Descricao">Descrição:</label>
        <input asp-for="Descricao"/>
    </p>
    <p>
        <label asp-for="ValorUnitario">Valor Unitário:</label>
        <input asp-for="ValorUnitario"/>
    </p>
    <p>
        <label asp-for="Quantidade">Quantidade:</label>
        <input asp-for="Quantidade"/>
    </p>
    <input type="submit" value="Cadastrar"/>
</form>